.submit-btn {
    background-color: #189391;
    width: 7rem;
    height: 2.5rem;
    margin-top: 2rem;
    color: white;
    border-radius: 10px;
}
.submit-btn.clicked{
    background-color: #bc0c8d;
}
.submit-btn:hover{
    background-color: #bc0c8d;
}
